<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            text-align: center;
            padding: 50px;
        }
        img {
            max-width: 300px;
            margin: 20px auto;
        }
        h1 {
            color: #d32f2f;
        }
        p {
            color: #555;
        }
    </style>
</head>
<body>
<img th:src="@{/img/error.jpg}" alt="Error"/>
<h1>Enter Valid Inputs</h1>
<p>Something went wrong. Please check your input and try again.</p>
<a href="/" class="btn red">Go Back to Home</a>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
